dev-*
app/data/*.txt
app/data/*.Rdata
app/data/*.rds
app/data/*.qs
app/data/countryData/*.qs
app/data/all_delays.csv
app/data/temp
app/data/serialized/*
app/data/countryData/csv
app/data/exploration
app/data/BAG
app/data/CHE
app/data/DEU
app/data/HKG
app/data/*.xlsx
app/otherScripts/*.Rout
app/otherScripts/*.Rdata
app/otherScripts/slackWebhook.txt
app/otherScripts/sendNotifications.txt
app/otherScripts/lastBAGFile.txt
app/www/*
!app/www/styles.css
app/restart.txt
!app/www/info.md
.vscode
.Rproj.user
*.Rdata
*.rds

# profiling
app/recording.log
app/report.html
app/run1
app/run2
