dev-*
app/data/*.txt
app/data/*.Rdata
app/data/*.rds
app/data/*.Rd
app/data/temp
app/data/BAG
app/data/CH
app/data/E*.xlsx
app/otherScripts/*.Rout
app/otherScripts/*.Rdata
app/www/*
app/restart.txt
!app/www/info.md
.vscode
.Rproj.user
*.Rdata
*.rds
