.sidebar-menu > li > a{ 
  font-size:17px;
}

.shiny-input-checkboxgroup {
  padding-bottom: 12px !important;
}

.action-button:hover{
    color: #367fa9 !important;
}

section.sidebar .shiny-input-container {
  padding-top: 0px
}
